<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.1/phpunit.xsd"
        bootstrap="ut/bootstrap.php"
>
    <testsuites>
        <testsuite name="all">
            <file>ut/CommandRunnerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
